.celement2-container {
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50%;
  }
  
  .celement2-heading {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .celement2-paragraph {
    font-size: 13px;
    color: #333;
    margin-bottom: 50px;
  }
  
  .celement2-subheading {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .celement2-subparagraph {
    font-size: 12px;
    color: #333;
  }
  
  .img-fluidh {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .celement2-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .celement2-content img {
    margin-right: 15px;
  }
  
  .celement2-content h3 {
    margin-bottom: 0;
  }
  