.element1-container {
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
}

.image-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.element1-image {
  width: 80%; 
  height: auto; /* Maintain aspect ratio */
}

.white-background {
  background-color: white;
  padding: 50px; /* Optional padding for better spacing */
  width: 100%; /* Make sure the div takes the full width of the container */
  max-width: 1200px; /* Adjust the max-width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for better visibility */
  display: flex;
  justify-content: center;
}

.row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Add space between columns */
  width: 90%;
  padding-left: 35px;
}

.column {
  flex: 1;
  padding: 20px;
  font-size: 13px; /* Decrease font size */
  text-align: center;
  color: #7D818D;
  position: relative;
}

.column:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: aliceblue; /* Line color */
}

.column-image {
  max-width: 80%; 
  height: auto; 
}

@media (max-width: 992px) {
  .image-container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .element1-image {
    width: 100%; 
  }

  .row {
    flex-direction: row; 
    padding: 0;
    width: 200%;
  }
}

@media (max-width: 768px) {
  .element1-image {
    width: 100%; 
  }

  .white-background {
    padding: 30px; 
  }

  .column {
    font-size: 10px; 
  }
}

@media (max-width: 576px) {
  .element1-image {
    width: 100%;
  }

  .white-background {
    padding: 20px;
  }

  .column {
    font-size: 8px; 
  }
}
