.element6-container {
  padding: 50px;
}

.element6-heading {
  text-align: left;
  margin-top: 80px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Gilroy-Bold', sans-serif;
  padding-left: 30px; /* Adjust left padding */
}

.element6-paragraph {
  font-size: 15px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Regular', sans-serif;
  padding-left: 30px; /* Adjust left padding */
}

.img-fluid10 {
  max-width: 250%; /* Ensure image resizes to fit container */
  height: 85%; /* Maintain aspect ratio */
}

.demo-link2 {
  text-decoration: none;
  color: #473BF0;
  font-family: 'Gilroy-Bold', sans-serif;
  display: inline-flex;
  align-items: center;
  padding-left: 30px; /* Adjust left padding */
}

.demo-icon2 {
  width: 20px; /* Adjust icon size */
  height: 20px;
  margin-left: 5px; /* Add space between text and icon */
}

@media (max-width: 768px) {
  .element6-container {
    padding: 0;
  }

  .row {
    flex-direction: column;
  }

  .element6-heading {
    font-size: 1.5rem; /* 24px */
    padding-left: 30px; /* Maintain left padding */
    margin-top: 30px; /* Adjust top margin */
    text-align: left; /* Align text to the left */
  }

  .element6-paragraph {
    font-size: 0.875rem; /* 14px */
    max-width: 50%; /* Adjust width to full for single column */
    padding-left: 30px; /* Maintain left padding */
    margin-top: 10px;
   /* Adjust top margin */
  }

  .demo-link2 {
    margin-top: 15px; /* Adjust top margin */
    padding-left: 30px; /* Maintain left padding */
    text-align: left;
    margin-bottom: 30px; /* Align text to the left */
  }

  .img-fluid10 {
    max-width: 100%; /* Ensure image resizes to fit container */
    height: auto; /* Maintain aspect ratio */
  }
}
