.element8-container {
  margin: 0 auto;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.element8-headingn {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.element8-paragraph {
  margin-top: 10px;
  font-size: 15px;
  color:  #161C2D;
  margin-bottom: 100px;
  font-family: 'Gilroy-Regular', sans-serif;
}

.element8-content {
  margin-bottom: 30px;
}

.element8-subheading {
  font-size: 16px;
  margin-left: 15px; 
  font-family: 'Gilroy-Bold', sans-serif;
}

.element8-subparagraph {
  font-size: 13px;
  font-family: 'Gilroy-Regular', sans-serif;
  text-align: left; /* Adjust the text alignment as needed */
  margin-top: 10px;
  margin-bottom: 50px;
}

.img-fluidn {
  max-width: 50px; /* Adjust the size of the icon */
  height: auto;
}
